@page
@namespace fictionsplash.Pages.Games
@model Games.BaguetterModel


<body class="UPG-background">
</body>


<script src="https://pixijs.download/release/pixi.js"></script>
<script>
    let app = new PIXI.Application({width: 640, height: 360});
    document.body.appendChild(app.view);
    console.log('window loaded')

    let sprite = PIXI.Sprite.from('../../baguette.png');
    app.stage.addChild(sprite);
    console.log('sprite loaded')

    let 

    let elapsed = 0.0;
    var event;
    document.addEventListener('keydown', event => {
        
    })
    
    app.ticker.add((delta) => {
        elapsed += delta;

        if(hasMoved)
        {
            BaguetteMove(event);
        }
    })

    function BaguetteMove(event){
        if(event.keyCode === 65)
        {
            sprite.x-=150 / delta;
            console.log('moving left')
        }
        else if(event.keyCode === 68)
        {
            sprite.x+=150 / delta;
            console.log('moving right')
        }
    }
</script>